 .widget {
  /**** Widget ****/
  margin: 10px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  &__label {
    height: 20px;
  }
  &--special {
    /**** Specialised Widget ****/
    background: grey;
    .content--red {
      background: red;
    }
    &.widget--disabled {
      opacity: 0.3;
      pointer-events: none;
    }
    &::hover {
      border-color: blue;
    }
  }
}

.widget-container {
  /**** Widget Container ****/
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100px 100px 100px;
  .widget--special {
    grid-row: 1;
  }
}

/*

Changes made, and rationale.

1) .widget & label => .widget__label

(Specificity hurts paint speed, BEM allows reusability)

2) .special-widget => .widget--special

(BEM naming)

3) row: 1 => grid-row: 1, moved to container element

(Grid layout is specified in container, so makes more sense there. CSS element name fixed.)

4) & > .content--red => .content--red

(BEM)

5) .special-widget.special-widget__disabled => .widget--special.widget--disabled

(disabled works better as a BEM modifier rather than element)

6) .widgetContainer => .widget-container

(BEM naming)

7) & > .special-widget => removed

(Removed Unnecessary rule, as this exists in base .widget style)

*/
