.widget {
  margin: 10px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  &__label {
    height: 20px;
  }
  &--special {
    background: grey;

    .content--red {
      background: red;
    }

    &::hover {
      border-color: blue;
    }
  }
  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.widget-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100px 100px 100px;
  .widget--special {
    row: 1;
  }
}
