@import "bootstrap";
@import "variables";

.app {
  &__header {
    border-bottom: 1px solid midnightblue;
    margin-bottom: 20px;
  }
  &__body {
    margin-bottom: $point_size;
  }
  &__info {
    @include container;
  }
}
