@import "variables";

.connection {
  &__distance {
    background-color: rgba(192, 192, 192, 0.5);
    color: white;
    padding: 3px;
    border-radius: 5px;
    z-index: 30;
    font-family: $font-family-sans-serif;
    font-size: $font-size-small;
    text-transform: uppercase;
  }
  &__line {
    height: 3px;
    display: block;
    background: #6495ed;
    background: -moz-linear-gradient(left, #6495ed 0%, #add8e6 100%);
    background: -webkit-linear-gradient(left, #6495ed 0%, #add8e6 100%);
    background: linear-gradient(to right, #6495ed 0%, #add8e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6495ed', endColorstr='#add8e6',GradientType=1 );
    margin: $half_point_size 0 0 $half_point_size;
    z-index: 20;
  }
}
