@import "bootstrap";

.header {
  @include container;
  padding-top: 20px;
  padding-bottom: 20px;
  &__title {
    @include heading_font;
    font-size: $font-size-h1;
    line-height: $font-size-h1;
    color: midnightblue;
  }
}
