@import "bootstrap";

.instructions {
  margin-top: 1em;

  &__text {
    font-family: $font-family-sans-serif;
    font-size: $font-size-large;
    line-height: 1.3em;
    margin-bottom: 1em;
    color: midnightblue;
  }

  &__selected-point {
    text-transform: uppercase;
    color: dodgerblue;
  }

  &__distance {
    text-transform: uppercase;
    color: dodgerblue;
  }

  &__button {
    display: block;
    padding: 5px 10px;
    font-family: $font-family-sans-serif;
    font-size: $font-size-large;
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    &:hover {
      background-color: darken(cornflowerblue, 10%);
    }
  }

  &__cheeky {
    font-family: $font-family-sans-serif;
    font-size: $font-size-large * 1.3;
    line-height: 1.3em;
    margin-bottom: 1em;
    color: blueviolet;
  }

  .route-details {
    margin-bottom: 20px;
  }
}
