@import "bootstrap";
@import "variables";

.point {
  position: relative;
  left: -$half_point_size;
  top: -$half_point_size;
  background-color: transparent;
  &__title {
    @include heading_font;
    font-size: $font-size-h3;
    line-height: $point_size - ($font-size-h3 / 4);
    text-transform: uppercase;
    text-align: center;
    width: $point_size;
    height: $point_size;
    border-radius: $point_size;
    border: 3px solid Orchid;
    background-color: Orchid;
    color: white;
    display: inline-block;
    z-index: 100;
    position: relative;
  }
  &--selected {
    .point__title {
      background-color: indigo;
    }
  }
  &--inactive {
    .point__title {
      background-color: lavender;
      border-color: lavender;
    }
  }
}
