@import "bootstrap";

.route-detail {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $font-size-base * 1.3;
  color: midnightblue;
  margin-right: 0.5em;
  &__point {
    text-transform: uppercase;
    color: cornflowerblue;
  }
  &__distance {
    font-size: $font-size-small;
    &::before {
      content: "(";
    }
    &::after {
      content: ")";
    }
  }
}
